.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogs__items{
  padding: 10px;
}
.dialog{

}
.dialog a{
  text-decoration: none;
  color:black
}
.messages{
  padding: 10px;
}
.message{

}
.active  {
  color: forestgreen !important;
}